body,ul,li{
	padding:0;
	margin:0;
}

li{
	list-style-type:none;
}

.rating,.rating-display{
	background:url(F:/项目/Github/js.project/星级评分/方案三/images/wuxing.jpg) repeat-x;
}
.rating{
	position:relative;
	width:75px;
	margin:100px auto;
}

.rating-display{
	width:0;
	height:14px;
	background-position: 0 -14px;
}

.rating-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
}

.rating-item{
	float:left;
	width:15px;
	height:14px;
	cursor:pointer;
}
